PORT=3000
DATABASE_URL="postgres://clogin:CloginDB2026%21SecurePass@oc5h6epf3f1pdronbhbt44sy:5432/clogin"
JWT_SECRET="clogin-jwt-secret-2026"
ADMIN_JWT_SECRET="clogin-admin-jwt-secret-2026"
ADMIN_DEFAULT_EMAIL="admin@clogin.nghemmo.com"
ADMIN_DEFAULT_PASSWORD="CloginAdmin2026!"
